
.Navigation{
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: 15% 30% 40% 15%; 
    background-color: #ffffff; 
    box-shadow: 5px 7px 7px gray;
    position: fixed;
    z-index: 1000;  
}
.Introduction{
    display: grid;
    grid-column: 2/3;
    align-items: center;
    font-size: large;
    font-family: sans-serif;
}
.nav-links{
    display: grid;
    grid-column: 3/4;
    align-items: center;
}
.nav-links ul{
    display: flex;
    gap: 8%;
    margin-left: 10%;
}
a{
    text-decoration: none;
}
.Hambergmenu{
    display: none;
}
@media screen and (max-width: 998px){

    .Hambergmenu{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .mobile-menu-link{
        width: 100%;
        height: 10rem;
        background-color: rgb(255, 255, 255);
        display: flex;
        top: 5rem;
        position: absolute;
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }
    .mobile-menu-link ul{
        display: flex;
        flex-direction: column;
        gap: 3%;
    }
    .nav-links{
        display: none;
    }

}


